.login-button {
  background-color: rgb(7, 207, 88);
  border-radius: 5px;
  padding: 5px;
}

.login-button:hover {
  background-color: lightgreen;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
